body {
	background-color: #f5e3dd;
}
   a:link {
      color: #dd7e80;
    }
    a:visited {
  color: #925658;
}
h1 {
	color: 161a1c;
}
#plant-photo {
	padding-left: 15px;
    }

.headline{
    text-align: center;
    margin: 0 auto;
}

.body{
    display:inline-block;
    max-width:700px;
    margin:0 auto;
    padding:4px;
    padding-left: 14px;
}
.title{
   font-size: 18px;
}